## Tipos de datos

Python es un lenguaje de programación con un *tipado dinámico*, esto quiere decir que
- Las variables no tienen que llevar un *tipo* de dato. 
- El *tipo* se infiere durante la asignación
- El tipo de la variable puede cambiar o ser reasignado

El lenguaje cuenta con los siguientes tipos de datos:

### int: Números enteros 
Números enteros. Se les puede añadir un signo.

In [5]:
42

42

In [11]:
type(42)

int

In [7]:
-7

-7

In [10]:
type(-7)

int

In [12]:
2 + 2

4

In [13]:
type(2+2)

int

Sin embargo, cada tipo tiene asignado una serie de operaciones que solo son válidas entre datos de su mismo tipo.

### float: Números con punto flotante 
Números con punto decimal. Se les puede añadir un signo.

In [14]:
0.5

0.5

In [15]:
type(0.5)

float

In [16]:
-2.5

-2.5

In [17]:
type(-2.5)

float

In [19]:
# La división siempre queda como float
5 / 2

2.5

In [20]:
type(5/2)

float

### str: Strings 
Caracteres o secuencias de caracteres. Palabras, texto, etc. Pueden ser declaradas entre "palabra" o 'palabra'

In [21]:
"A"

'A'

In [22]:
type("A")

str

In [23]:
"Esto es una palabra"

'Esto es una palabra'

In [24]:
type("Esto es una palabra")

str

Es posible unir dos palabras también:

In [38]:
"Ej" + "emplo"

'Ejemplo'

Los espacios deben ser declarados explícitamente. Por ejemplo:

In [40]:
"Hola" + "mundo"

'Holamundo'

In [41]:
"Hola" + " mundo"

'Hola mundo'

Existen caracteres especiales que pueden ser insertados como>
- **\n**: Salto de línea
- **\t**: Equivalente a espacio del tabulaor
- **\\**: Si se desea escribir \ se debe "escapar" (poner este símbolo)

In [46]:
print('\\')

\

In [49]:
print('Aquí empieza el salto \naquí termina')

Aquí empieza el salto
aquí termina

### bool: Booleanos 
Almacenan **verdades lógicas**. Solamente pueden ser "True" (Verdadero)  o "False" (Falso)

In [68]:
True

True

In [69]:
False

False

In [71]:
# Almacenamos un booleano

esAzulElCielo = True
print(esAzulElCielo)

True

### Errores entre tipos y conversión.
Cada tipo tiene un conjunto de operaciones asignado. En el caso de los números, es posible realizar operaciones entre **int** y **float**. Sin embargo, el resultado siempre será un **float**

In [26]:
2 + 2.0

4.0

In [27]:
4 * 2.0

8.0

In [59]:
2 ** 8.0

256.0

Si quisiéramos que nuestros resultados fueran **int** deberíamos convertir (cast) el tipo **float** a **int**

In [33]:
256 * 4.0

1024.0

In [34]:
256 * int(4.0)

1024

También es posible convertir de float a int

In [50]:
3.1416 * int(2.0)

6.2832

En el caso de los **str**ings no es posible realizar operaciones con tipos numéricos

In [51]:
"Este es mi número => " + 3.1416

TypeError: can only concatenate str (not "float") to str

In [64]:
42 - "42"

TypeError: unsupported operand type(s) for -: 'int' and 'str'

Para esto, podemos convertir de float/int a str:

In [53]:
print("Este es mi número => " + str(3.1416))
print("Este también => " + str(256))

Este es mi número => 3.1416
Este también => 256

También es posible convertir **str**ings a números:

In [60]:
print(2.5 + float('2.5'))
print(2 ** int(8))

5.0
256

## Variables

Los valores que vimos sirven de poco si no pueden ser almacenados. Por ejemplo, supongamos que realizaremos 200 operaciones con el valor de PI. Si bien es posible teclear el valor 200 veces, resulta un poco tedioso. 

En otros casos, supongamos que tenemos un programa que busca filtrar los municipios de algún estado del país. Podríamos usar valores **constantes** como lo vimos en la sección anterior, pero podría ser mejor si este valor pudiera ser introducido por el usuario o si lo pudiéramos reemplazar bajo ciertas condiciones.

Para ello existen las variables y la operación de asignación (=). Ambas nos permiten **asignar** algún valor a un identificador.

In [ ]:
# Variables ejemplo

alto = 1.20
ancho = 0.60
largo = 0.75

# Strings

nombre = "Roger"
apellido_1 = "Vazquez"
apellido_2 = "Tuz"

Es posible almacenar el resultado de alguna operación en una variable

In [65]:
var = 2*2

#y=mx+b
m = 1/2
x = 16
b = 2

y = (m*x) + b

print("my var => ", var)
print("y= ", y)

my var =>  4
y=  10.0

**Todas** las variables deben estar definidas, de lo contrario marca un error al intentar "acceder" a esas variables

In [67]:
print(noExisto)

NameError: name 'noExisto' is not defined

Las expresiones que resultan en verdadero o falso (booleanos) también pueden ser almacenadas en variables

In [73]:
# Es 8 mayor que 4?
mayor = 4 < 8

# Es 8 igual a 4 * 2?
igual = (8 == (4*2))

print(mayor)
print(igual)

True
True

In [74]:
# Nombre
matricula = ""
validarAlumno = (matricula == "A00123456")

print(validarAlumno)

False

Los nombres de las variables deben: 
- Ser entendibles 
- Ser representativos de lo que contienen
- No contener símbolos (con excepción de _ o -)

In [75]:
#mal nombre de variable
amk = 5895
nAl = "Roger"

#buen ejemplo
alturaKilimanjaro = 5895
nombreAlumno = "Roger"

## Operaciones

## Estructuras de datos

## I/O